body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'inter';
}

.sliderimg{
    width: 100%;
    height: 500px;
  }

  .slider-container {
    width: 100%;
    height: auto;
    perspective: 1000px;
  }

  .slick-slide {
    transition: transform 0.5s linear; /* Smooth transition for transformations */
    margin: 10px;
  }

  .slider-container::before {
    content: '';
    position: absolute;
    top: -42px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #FBF7FD;
    border-radius: 0 0 50% 50%;
    z-index: 10;
  }

  .slider-container::after {
    content: '';
    position: absolute;
    bottom: -48px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #FBF7FD;
    border-radius: 50% 50% 0 0;
    z-index: 10;
  }
  
